<div>
  Elements that triggered the alert for "{{#patterns}} {{.}} {{/patterns}}"<br>

  <br> <br>
  {{#elements}}

  {{#alertComment}}
  ☆<a href="{{url}}">{{title}}</a> <br>
    <span style="margin-left:20px;">In the following comments:  <span><br><br>
    {{#matches}}
    <div style="margin-left:40px;">
      ⚫ {{{comment}}} <br><br>
    </div>
    {{/matches}}
    <br> <br> <br>
  {{/alertComment}}

  {{#alertArticle}}
  ★ <a href="{{articleLink}}">{{title}}</a> <br>
    This article contains probably a summary.
  <br> <br> <br>
  {{/alertArticle}}

  {{/elements}}
</div>

